body {
  background-color: #ebd8b5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

img {
  display: block;
  margin: 30px auto;
  width: 700px;
  border-radius: 10px;
}

.button-link {
  color: white;
  background-color: #be4e05;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 20px auto;
  border-radius: 6px;
  text-decoration: none;
}

p {
  text-align: center;
  margin: 50px 0;
}
